*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: rgb(36, 33, 33);
    color: white;
    font-family: sans-serif;
} 
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: black ;
    display: flex;
    padding: 0 0.25vw;
    align-items: center;
}
.toggle-btn i{
    /* width: 100%;
    height: 10px; */
    padding: 20px;
    cursor: pointer;
}
.logo{
    height: 50px;
    margin-right: 120px;
}
.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    align-items: center;
    margin-left: 20px;
    display: flex;
}
.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}
.search-btn{
    width: 15%;
    height: 100%;
    background: transparent;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
    cursor: pointer;
}

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}
.user-options .icons{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.user{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* side-navigation */
.side-bar{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background: black;
    padding-right: 10px;
} 
.links{
    display: block;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.links img{
    height: 25px;
    margin-right: 20px;
}
.links:hover,
.links.active{
    background: rgb(68, 67, 67);
    border-radius: 5px;
}
.line-break{
    border: none;
    border-bottom: 1px solid rgb(68, 67, 67);
    margin: 20px 0;
}
.filters{
    position: fixed;
    left: 250px;
    top: 60px;
    width: cal(100% - 250px);
    height: 60px;
    background: black;
    border-top: 1px solid rgb(44, 42, 42);
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.filters::-webkit-scrollbar{
    display: none;
}
.options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
}
.options.active{
    color: white;
    background: black;
    border: 1px solid rgb(219, 213, 213);
}